<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
      <title>Rundle: create run</title>
  </head>
  <body>
      <h1>
          Rundle: create run
      </h1>
      <form action=create method=post enctype=multipart/form-data>
          <label for="gpx">GPX:</label>
          <input type="file" id="gpx" name="gpx"/><br>
          <label for="name">Name (leave blank to extract from GPX):</label>
          <input type="text" id="name" id="name" name="name"><br>
          <input type="submit" value="Create"/>
      </form>
  </body>
</html>
